*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

// .section-wrapper{
//     max-width: 1300px;
//     padding: 0 40px;
//     margin: auto;
//     position: relative;
// }

.hero-section{
    .nav-bar{
        width: 100%;
        height: 50px;
        display: flex;
        text-align: center;
        padding: 40px 0;

        .nav-links{
            vertical-align: middle;
            width: 50%;
            margin: auto;
            &::after{
                content: '';
                clear: both;
                display: block;
            }
            .link{
                float: left;
                width: 25%;
                height: 40px;
                position: relative;
                
                .active-border{
                    display: none;
                    margin: auto;
                    width: 80%;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 4px;
                    background: rgb(245, 154, 169);
                }
                
                .active-nav-link + .active-border{
                    display: block;
                    animation: 170ms appear 1;
                }
                
                a{
                    text-decoration: none;
                    color: black;
                    font: 500 16px "Lato", sans-serif;
                    position: relative;
                    
                    
                    .hover-effect{
                        display: none;
                        position: absolute;
                        height: 10px;
                        width: 80%;
                        background: rgb(255, 190, 201);
                        z-index: -1;
                        left: 0;
                        bottom: 0;
                    }
                    
                    &:hover{
                        .hover-effect{
                            animation: 170ms appear 1;
                            display: block;
                            // opacity: .7;
                        }
                    }
                }
            }
        }
        
        .social-media{
            position: absolute;
            right: 40px;
            vertical-align: middle;
            margin: auto 0;
            
            &::after{
                content: '';
                clear: both;
                display: block;
            }

            .social-media-link{
                float: left;
                width: 33.33%;
                margin: auto;
                padding-left: 20px;

                img{
                    height: 20px;
                }
            }
        }

    }





    // background-image: linear-gradient(rgba(54, 0, 0, 0.5), rgba(73, 20, 20, 0.5)), url("../assets/SandDune.png");
    // background-repeat: repeat;
    // background-repeat-x: no-repeat;
    // background-size: cover;
    // background-repeat-y: no-repeat;
    // height: 100vh;
    // max-height: 720px;
    // min-height: 667px;
    
    // .flex-container{
    //     padding-top: 100px;
    //     padding-bottom: 150px;
    // }

    // .brand-id{
    //     width: auto;
    //     text-align: center;
    //     margin-bottom: 60px;
    //     img{
    //         height: 60px;
    //     }
    // }
    
    // .hero-content-container{
    //     text-align: center;
    //     flex-grow: 1;
    //     color: #ffffff;

    //     .brand-id-text{
    //         font: 700 18px 'Lato', sans-serif;
    //         letter-spacing: .7em;
    //         vertical-align: middle;
    //         margin-bottom: 100px;
    //     }

    //     .brand-id-content{
    //         font: 300 42px 'Nunito', sans-serif;
    //         width: 60%;
    //         margin: auto;
    //     }    
    // }
    
    // .scroll-down-indicator{
    //     position: absolute;
    //     bottom: 10px;
    //     left: 50%;
    //     animation: 1.3s scroll infinite;

    //     img{    
    //         height: 30px;
    //     }
    // }
}

.content-section{
    .section{
        display: none;
    }

    .show-section{
        display: block;
    }

    .home-section{
        width: 100%;
        padding: 0 30px;
        
        .hero-stripe-container{
            height: 80vh;
            background: #d6edf8;
            position: relative;
            
            .logo-container{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -30px;
                background: rgb(245, 154, 169);
                width: 60px;
                height: 80px;
                cursor: pointer;
            }
            
            .easter-egg-container{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -30px;
                background: rgb(245, 154, 169);
                width: 60px;
                height: 80px;
                cursor: pointer;
            }

            .hero-text{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%);
            }
        }
    }
}


@keyframes appear {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
  }

@media screen and (max-width: 900px) {
    .hero-section{
        .hero-content-container{
            .brand-id-content{
                width: 80%;
            }
        }
    }
}