
$accent: #5965a5;
$font-1: "Nunito", sans-serif;
$font-2: "Roboto", sans-serif;


*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

// .section-wrapper{
//     max-width: 1300px;
//     padding: 0 40px;
//     margin: auto;
//     position: relative;
// }

.hero-section{
    .nav-bar{
        width: 100%;
        height: 50px;
        display: flex;
        text-align: center;
        padding: 40px 0;

        .nav-links{
            vertical-align: middle;
            width: 50%;
            margin: auto;
            &::after{
                content: '';
                clear: both;
                display: block;
            }
            .link{
                float: left;
                width: 25%;
                height: 40px;
                position: relative;
                
                .active-border{
                    display: none;
                    margin: auto;
                    width: 80%;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 4px;
                    background: $accent;
                }
                
                .active-nav-link + .active-border{
                    display: block;
                    animation: 170ms appear 1;
                }
                
                a{
                    text-decoration: none;
                    color: black;
                    font: 500 16px "Lato", sans-serif;
                    position: relative;
                    
                    
                    .hover-effect{
                        display: none;
                        position: absolute;
                        height: 10px;
                        width: 80%;
                        background: #a5b2ff;
                        z-index: -1;
                        left: 0;
                        bottom: 0;
                    }
                    
                    &:hover{
                        .hover-effect{
                            animation: 200ms appear 1;
                            display: block;
                        }
                    }
                }
            }
        }
        
        .social-media{
            position: absolute;
            right: 40px;
            vertical-align: middle;
            margin: auto 0;
            
            &::after{
                content: '';
                clear: both;
                display: block;
            }

            .social-media-link{
                float: left;
                width: 33.33%;
                margin: auto;
                padding-left: 20px;

                img{
                    height: 20px;
                }
            }
        }
    }
}

.content-section{
    .section{
        display: none;
    }

    .show-section{
        display: block;
    }

    .home-section{
        width: 100%;
        padding: 0 30px;
        padding-bottom: 30px;

        .hero-stripe-container{
            height: 80vh;
            background-image: linear-gradient(to right, #84adff, #9058ff);
            position: relative;

            .logo-container{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -30px;
                background: $accent;
                width: 60px;
                height: 80px;
                cursor: pointer;
                display: block;
                
                img{
                    width: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            
            .easter-egg-container{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -30px;
                background: $accent;
                width: 60px;
                height: 80px;
                cursor: pointer;
                display: block;
                
                img{
                    width: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .hero-text{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font: 500 48px/1.4 $font-1;
                text-align: center;
            }
        }
    }

    .overview-section{
        width: 100%;
        padding: 170px 0;

        .image-container{
            width: 40%;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            img{
                width: 100%;
                margin: auto;
                max-width: 500px;
            }
        }
        
        .text-container{
            width: 59%;
            display: inline-block;
            vertical-align: middle;
            padding-left: 50px;
            
            .title{
                font: 500 28px $font-1;
                margin-bottom: 20px;
            }
            
            .text{
                font: 400 17px/1.7 $font-2;
                color: #444444;
                max-width: 700px;
            }
        }
    }
}

@keyframes appear {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .content-section{
        .home-section{
            .hero-stripe-container{
                .hero-text{
                    font: 400 42px/1.4 "Source Pro", sans-serif;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .hero-section{
        .nav-bar{
            .social-media{
                display: none;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .hero-section{
        .nav-bar{
            display: none;
        }
    }

    .content-section{
        .home-section{
            width: 100%;
            padding: 30px;
            
            .hero-stripe-container{
                height: calc(100vh - 60px);

                .logo-container{
                    left: 50%;
                    transform: translateX(-50%);
                    top: -30px;
                }
                
                .easter-egg-container{
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -30px;
                    right: unset;
                    top: unset;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
      .content-section{
          .home-section{
              .hero-stripe-container{
                  .hero-text{
                    font-size: 4vw;
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .content-section{
        .overview-section{
            text-align: center;
            padding: 170px 0;
    
            .image-container{
                width: 100%;
                text-align: center;
                img{
                    width: 60%;
                    margin: auto;
                }
            }
            
            .text-container{
                width: 100%;
                padding-left: unset;
                padding-top: 70px;
                text-align: center;
                margin: auto;
    
                .title{
                    font: 500 28px $font-1;
                    margin-bottom: 20px;
                }
                
                .text{
                    font: 400 17px/1.7 $font-2;
                    color: #444444;
                    margin: auto;
                }
            }
        }
    }

}

@media screen and (max-width: 700px) {
      .content-section{
          .home-section{
              .hero-stripe-container{
                  .hero-text{
                    font-size: 28px;
                    width: 90%;
                }
            }
        }
    }
}


@media screen and (max-width: 650px) {
    .content-section{
        .overview-section{
            .image-container{
                width: 100%;
                text-align: center;
                img{
                    width: 100%;
                    margin: auto;
                }
            }
        }
    }
}